
.form-div{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
align-items: center;}
form{
    background-color: #eaeaea;
    width: 41%;
    height: 50vh;
    border: 1px solid black;
    border-bottom-left-radius: 34px;
    border-bottom: 4px solid black;
    border-top-right-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 4px 2px rgb(157, 156, 156),-3px -4px 0px white;
    transition: 1s;

}
form:hover{
    box-shadow: none;

}
.form-input{
    display: flex;
    justify-content: space-between;
    width: 71%;  
    
 
     
}
input{
width: 271px;
height: 25px;
border: none;
padding: 0 11px;
border-bottom: 4px solid black;
}
form button{
width: 87px;
height: 45px;
box-shadow: 1px 1px ;transition: 1s;
}
form button:hover{
    box-shadow: none;
    
    }